<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <appSettings>
    <add key="KeepNumber" value="7"/>
    <add key="KeepUnit" value="weeks"/>
    <add key="Action" value="7z"/>
    <add key="Folders" value="C:\Users\wood\Desktop\log - Copy;C:\Users\wood\Desktop\log;"/>
  </appSettings>

  <!--log4net config-->
  <log4net>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="./Logs/logrotate.winform.log"/>
      <appendToFile value="true"/>
      <maximumFileSize value="10MB"/>
      <maxSizeRollBackups value="6"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%timstamp] [%level] [%thread] [%logger] - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="TraceAppender"/>
      <appender-ref ref="RollingFile" />
    </root>
  </log4net>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>